.*/
venv/
test_project*/
test_out/
testing/
doc/
node_modules/
*.egg-info
__pycache__/

submodules/4DGB/
!submodules/4DGB/server/
!submodules/4DGB/client-js/
!submodules/4DGB/package.json
!submodules/4DGB/bin/db_pop

submodules/3DStructure/
!submodules/3DStructure/src/

